@model MVC_ProjectWork.Models.Employee

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MyLayoutPage.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.designation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.designation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.image_path)
        </dt>

        <dd>
            <img src="@Url.Content(Session["Image2"].ToString())" height="100" width="100" />

        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
