@model IEnumerable<MVC_ProjectWork.Models.Teacher>

@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_MyLayoutPage.cshtml";
    Layout = null;
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.teachername)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Department.departmentname)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.teachername)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Department.departmentname)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.teacherid }) |
            @Html.ActionLink("Details", "Details", new { id=item.teacherid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.teacherid })
        </td>
    </tr>
}

</table>
