
@{
    ViewBag.Title = "Page6";
    Layout = "~/Views/Shared/_MyLayoutPage.cshtml";
}

<h2>Page6</h2>
<h3>@ViewBag.Message</h3>
<p>@ViewBag.Data</p>
<p>@ViewBag.Data2</p>
<p>@ViewBag.Data3</p>
<p>@ViewBag.Data4</p>

